.label{
  background-color: yellow;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: relative;
  font-size: 10px;
  color: white;
  cursor: pointer;
}
canvas{
  
  height: 100vh !important;
  width: 100vw !important;
}